.filter-component {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
}

.filter-button {
    width: 120px;
}

.active-filter {
    color: lightskyblue;
    border: 5px solid lightskyblue;
}